<div class="sikaku">
<div class="sikakus">
  <%= form_tag('/tweets', method: :post, :multipart => true) do %>
  
    <h3>
      投稿する
    </h3>
    <input placeholder="Image URL" type="file" name="image" autofocus="true">
    <textarea placeholder="text" name="text" cols="30" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
</div>
</div>

