
<div id="container">

<div id="bgimg-access" class="bgimg">背景イメージ</div>

<div id="main">
<div id="main_sns">
<section>

<h2>SNS<span>#follow me💕</span></h2>

<table class="ta1">
<tr>
<th>Instagram
</th>
<td><a href="https://www.instagram.com/kokkasikentaisaku.kana/?hl=jal" target="_blank">kokkasikentaisaku.kana</a></td>
</tr>
<tr>
<th>Twitter
</th>
<td><a href="https://twitter.com/kana84593681" target="_blank">kana美容師国家試験対策@kana84593681</a></td>
</tr>
<tr>
<th>TikTok
</th>
<td><a href="https://www.tiktok.com/@okusuri.kana?" target="_blank">おくすり.kana</a>ではお薬のことについて発信しています。</td>
</tr>
<tr>
<th>YouTube
</th>
<td><a href="https://www.youtube.com/channel/UCb_2hEWbP7T-XbvSKjPqs2A?view_as=subscriber" target="_blank">kana美容師国家試験対策</a>です。チャンネル登録お願いします。</td>
</tr>
<tr>
<th>関係法規
</th>
<td><a href="https://www.youtube.com/playlist?list=PLpiRSyZQpcLyIkM-RjmPF4pnD9s3XIm0n" target="_blank">関係法規の再生リスト</a>です。わからないところは動画のコメントで質問して下さい。</td>
</tr>
<tr>
<th>衛生管理
</th>
<td><a href="https://www.youtube.com/playlist?list=PLpiRSyZQpcLwqbGzNmRu2mHrZWazAG6BK" target="_blank">衛生管理の再生リスト</a>です。わからないところは動画のコメントで質問して下さい。</td>
</tr>
<tr>
<th>美容保健
</th>
<td><a href="https://www.youtube.com/playlist?list=PLpiRSyZQpcLz1fYtUIX7JL6Nt-41xzorx" target="_blank">美容保健の再生リスト</a>です。わからないところは動画のコメントで質問して下さい。。</td>
</tr>
<tr>
<th>香粧品
</th>
<td><a href="https://www.youtube.com/playlist?list=PLpiRSyZQpcLxR_d-RYYzfrf8k_1rBvutb" target="_blank">香粧品の再生リスト</a>です。わからないところは動画のコメントで質問して下さい。</td>
</tr>
<tr>
<th>美容理論
</th>
<td><a href="https://www.youtube.com/playlist?list=PLpiRSyZQpcLwHiK1nNAZ9f-bsUSvmNd1h" target="_blank">美容理論の再生リスト</a>です。わからないところは動画のコメントで質問して下さい。</td>
</tr>
</table>

</section>

</div>
<!--/#main-->

<footer>
<small>Copyright&copy; <a href="index.html">SAMPLE SHOP</a> All Rights Reserved.</small>
<span class="pr"><a href="http://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
</footer>

</div>
</div>
<!--/#container-->

<!--ページの上部に戻る「↑」ボタン-->
<p class="nav-fix-pos-pagetop"><a href="#">↑</a></p>

<!--メニュー開閉ボタン-->
<div id="menubar_hdr" class="close"></div>
<!--メニューの開閉処理条件設定　800px以下-->
<script>
if (OCwindowWidth() <= 800) {
	open_close("menubar_hdr", "menubar-s");
}
</script>
