/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

  /*メインメニュー
  ---------------------------------------------------------------------------*/
  /*アニメーションのフレーム設定。全100コマアニメーションだと思って下さい。
  透明(opacity: 0;)から色をつける(opacity: 1;)までの指定。*/
  @keyframes menubar {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  /*スマホ用メニューブロック*/
  #menubar-s {
    display: block;overflow: hidden;
    position: fixed;
    top: 70px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);	/*背景色*/
    animation-name: menubar;		/*上のkeyframesの名前*/
    animation-duration: 0.5s;	/*アニメーションの実行時間。0.5秒。*/
    animation-fill-mode: both;	/*待機中は最初のキーフレームを、完了後は最後のキーフレームを維持*/
    font-family: 'Cinzel', serif;	/*冒頭で読み込んでいるGoogleFontsの指定*/
  }
  /*メニュー１個あたりの設定*/
  #menubar-s li a {
    display: block;text-decoration: none;
    padding: 10px 3%;	/*メニュー内の余白。上下、左右。*/
    border-bottom: 1px solid #fff;	/*下の線の幅、線種、色*/
    color: #fff;		/*文字色*/
    font-size: 20px;	/*文字サイズ*/
  }
  /*説明表記（飾り文字）*/
  #menubar-s li a span {
    display: block;
    font-size: 12px;/*文字サイズ*/
  }
  /*PC用メニューを非表示にする*/
  #menubar {display: none;}
  
  /*３本バーアイコン設定
  ---------------------------------------------------------------------------*/
  /*３本バーブロック*/
  #menubar_hdr {
    display: block;
    position: fixed;z-index: 50;
    top: 8px;		/*上から10pxの場所に配置*/
    right: 10px;	/*右から10pxの場所に配置*/
  }
  /*アイコン共通設定*/
  #menubar_hdr.close,
  #menubar_hdr.open {
    width: 50px;	/*幅*/
    height: 50px;	/*高さ*/
  }
  /*三本バーアイコン*/
  #menubar_hdr.close {
    background: url(../images/icon_menu.png) no-repeat center top/50px;	/*背景画像の読み込み、画像の上半分（３本マーク）を表示。幅は50px。*/
  }
  /*閉じるアイコン*/
  #menubar_hdr.open {
    background: url(../images/icon_menu.png) no-repeat center bottom/50px;	/*背景画像の読み込み、画像の下半分（×マーク）を表示。幅は50px。*/
  }
  
  /*mainブロック
  ---------------------------------------------------------------------------*/
  #main {
    float: none;
    width: auto !important;
  }
  
  /*subブロック
  ---------------------------------------------------------------------------*/
  #sub {
    display: none;
  }
  
  /*小さな端末用(800px以下)で表示させるブロック
  ---------------------------------------------------------------------------*/
  #sh-sub {
    display: block;	/*非表示から表示に切り替える*/
    position: relative;z-index: 2;
  }
  /*ロゴブロック*/
  #sh-sub .logo {
    position: fixed;z-index: 2;
    top: 0px;			/*上から0pxの場所に配置*/
    height: 70px;		/*ブロックの高さ*/
    width: 100%;		/*ブロックの幅*/
    background: #000;	/*背景色*/
  }
  /*ロゴ画像*/
  #sh-sub .logo img {
    width: 200px;		/*画像の幅*/
    margin-top: 22px;	/*上に空けるスペース。上下間をここで調整して下さい。*/
    margin-left: 3%;	/*左に空けるスペース。*/
  }
  
  /*その他
  ---------------------------------------------------------------------------*/
  body.s-n #sub,body.s-n #footermenu,.m-n {display: none;}
  .big1 {font-size: 24px;}
  .fl {float: none;}
  .fr {float: none;}
  .sh {display:block;}
  .pc {display:none;}
  
  }