/*subブロック
---------------------------------------------------------------------------*/
#sub {
	float: left;		/*左に回り込み*/
	width: 25%;			/*ブロックの幅*/
	max-width: 375px;	/*最大幅。これ以上広がらないようにする。*/
	text-align: center;	/*ブロック内を中央に*/
	position: fixed;	/*画面をスクロールしても固定させる指定*/
}
/*subブロックのロゴ。menu.cssにもアニメーションに関連する指定が入っています。*/
#sub .logo {
	border-bottom: 1px solid #fff;	/*下線の幅、線種、色（古いブラウザ用）*/
	border-bottom: 1px solid rgba(255,255,255,0.5);	/*下線の幅、線種、色*/
	padding: 100px 0;	/*上下、左右への余白*/
}
/*ロゴ画像*/
#sub .logo img {
	width: 60%;	/*幅*/
}

/*画面の高さが620px以下の場合の（大きな端末用）設定。
左メニューが620px以下になると切れて見えなくなるので、固定からスクロール表示に切り替えます。
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-height:620px){

  /*subブロック
  ---------------------------------------------------------------------------*/
  #sub {
    position: absolute;	/*固定からスクロール表示に変更*/
    height: auto;
  }
  
  }