// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*contentsボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
/*Shoppingページの背景画像*/
#main_blog {
  background-image: url("img_access.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: right bottom;
	background-size: 50%;
}


.header__bar{
	position:relative;
}

.toukou{
	width: 80%;
}

// .contents{
// width: 500px;
// top: 30%;
// right: 50%;
// background: -moz-linear-gradient(65deg, #F13F79, #FFC778); 
// background: -webkit-linear-gradient(65deg, #F13F79, #FFC778); 
// background: linear-gradient(25deg, #F13F79, #FFC778); 

// }

.sikaku{
	position: relative;
	
}
.sikakus{
	position: absolute;
	right: 100px;
	height: 500px;
	width: 500px;
}

.content_post{
width: 1000px;
}

.content_box{
	display: flex;
	width: 50%;
}

.content_image{
 width: 50%;
}