// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*contentsボックス
---------------------------------------------------------------------------*/
/*ボックス１個あたりの設定*/
.header__bar{
	position:relative;
}

.toukou{
	width: 80%;
}

.contents{

top: 30%;
right: 50%;
background: -moz-linear-gradient(65deg, #F13F79, #FFC778); 
background: -webkit-linear-gradient(65deg, #F13F79, #FFC778); 
background: linear-gradient(25deg, #F13F79, #FFC778); 

}

.sikaku{
	position: relative;
	
}
.sikakus{
	position: absolute;
	right: 100px;
	height: 500px;
	width: 500px;
}